p{
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3{
    font-family: lato,sans-serif;
}
button{
    font-size: 15px;
    font-weight: 550;
}
button:hover{
    background-color: rgb(25, 53, 65);
}
.Home{
    height: 100vh;
    background-image: url('About/breadcrumb-bg-copy.jpg');
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    color: white;
    font-family: lato,sans-serif;
}
.Home-header{
    display: flex;
    border-bottom: 1px solid #4c773d;
    padding-top: 20px;
}
.navbar>nav{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    padding-left: 100px;
    padding: 10px 10px 30px 10px;
    border-bottom: 1px solid #4c773d;
}
.navbar{
    position: sticky;
    top: 0; 
}
nav>a{
    text-decoration: none;
    color: white;
    font-family: lato,sans-serif;
}
.dropdown>a{
    text-decoration: none;
    color: white;
    font-family: lato,sans-serif;
}
li>a{
    text-decoration: none;
    color: white;
    font-family: lato,sans-serif;
}
.dropdown{
    position: relative;
}
.dropdown-content{
    display: none;
    background-color: #79B900;
    position: absolute;
    margin-left: -50px;
    padding: 10px;
}
.dropdown:hover .dropdown-content{
    display: inline-block;
    margin-top: 30px;
    padding-right: 20px;
    width: 230px;
}
.dropdown-content:hover ul>li{
    height: 25px;
    width: 160px;
}
ul>li{
    list-style-type: none;
}
.Home-Content{
    text-align: center;
    margin-top: 180px;
}
.About-Ecofy{
    background-image: url('about-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 140vh;
    display: flex;
}
.About-Content1>img{
    width: 480px;
    margin-left: 100px;
    margin-top: 100px;
}
.About-Content1>img{
    position: absolute;
}
.About-img>img{
    position: relative;
    margin-top: 365px;
    margin-left: 260px;
    width: 330px;
    height: 55vh;
}
.About-Content2{
    margin-left: 60px;
    margin-top: 100px;
}
.About-Content2-2{
    display: flex;
    margin-left: 40px;
}
.About-Content2-2-2{
    margin-top: 20px;
}
.About-Content2-2-2>p{
    color: #9B9A95;
    padding-left:15px ;   
}
.about-but{
    display: flex;
}
.team{
    background-image: url('counter-bg.png');
    height: 60vh;
    width: 100%;
    background-size: 100% 60vh;
    background-repeat: no-repeat;
}
.team-content:first-child{
    padding-top: 50px;
    padding-left: 200px;
}
.team-content :nth-child(2){
    padding-left: 150px;
}
.team-content :nth-child(3){
    padding-left: 150px;
}
.team-content :nth-child(4){
    padding-left: 150px;
}
.team-content1>b{
    display: flex;
    margin-top: 10px;
    color: #FFFFFF;
    font-size: 45px;
}
.team-content2{
    display: flex;
    color: #FFFFFF;
    font-size: 20px;
}
.Working-Process{
    height: 90vh;
    margin-top: 100px;
}
.All-customer{
    background-image: url('brand-bg.jpg');
    height: 50vh;
    margin: 100px;
}
.All-customer>img{
    margin-left:1000px;
    margin-top:-60px;
    animation-name: cus-img;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction:normal;
}
@keyframes cus-img{
    0%{margin-left:1000px;}
    50%{margin-left:900px;}
    75%{margin-left:1000px;}
    100%{margin-left:900px;}
}
.Member{
    background-image: url('team-bg.jpg');
    height: 120vh;
    padding-top: 100px;
}
.Member-col:hover{
    border-bottom: 3px solid #79B900; 
}
.Member-col{
    width: 280px;
    background-color: #F5F8ED;
}
.Member-col-1:hover{
    border-bottom: 3px solid #79B900; 
}
.Member-col-1{
    width: 280px;
    background-color: #F5F8ED;
}
.Member-col-2:hover{
    border-bottom: 3px solid #79B900; 
}
.Member-col-2{
    width: 280px;
    background-color: #F5F8ED;
}
.testimonials{
    background-image: url('map.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px;
    background-color: #F5F8ED;
    height: 130vh;
}
.testimonials>p::after{
    content: url('testi-shape-2.png');
    margin-left:280px ;
}
.testimonials>p::before{
    content: url('testi-shape-4.png');
    margin-left: 230px;
}
.testimonials>h1::after{
    content: url('testi-shape-1.png');
    padding-left: 300px;
}
.testimonials>h1::before{
    content: url('testi-shape-3.png');
    margin-left: -300px;
}
.testimonials-row1{
    margin: 0px 70px 0px 70px;
}
.Testimonial-card-body:hover{
    background-color: #79B900;
    color: white;
    border-radius: 10px;
}
.Testimonial-card-body1:hover{
    background-color: #79B900;
    color: white;
    border-radius: 10px;
}
.Footer{
    background-image: url('footer-bg.jpg');
    background-size: 100% 145vh;
    background-repeat: no-repeat;
    height: 150vh;
    width: 100%;

}
.footer-shape-leaf{
    margin-left:1100px;
    margin-top: 130px;
    animation-name: footer-shape-leaf;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction:normal;
}
@keyframes footer-shape-leaf{
    0%{margin-left:1100px;}
    50%{margin-left:1050px;margin-top: 120px;}
    75%{margin-left:1100px;}
    100%{margin-left:1050px;}
}
.Footer-social-content{
    background-image: url('footer-social.jpg');
    margin-top: 200px;
    margin-left: 100px;
    width: 80%;
    height: 25vh;
    border-radius: 10px;
    display: flex;
    color: white;
}
.foot-shape2{
    width:150px;
    height: 22vh;
    margin-left:20px;
    margin-top: 10px;
}
.footer-ecofy{
    margin: 80px;
    display: flex;
    justify-content: space-around;
    color: white;
}
.footer-company>p{
    color: #96A19C;
    padding-left: 30px;
}
.footer-company>p:hover{
    color: #79B900;
    padding-left: 20px;
}
.footer-quick-links>p{
    color: #96A19C;
    padding-left: 30px;
}
.footer-quick-links>p:hover{
    color: #79B900;
    padding-left: 20px;
}
.footer-newsletter>p{
    color: #96A19C;
}
.footer-newsletter>p:hover{
    color: #79B900;
}
